<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cash Management{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- 必要であればCSSファイルをリンク -->
</head>
<body>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2024 Cash Management App</p>
    </footer>
</body>
</html>
